.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    padding: 25px;
    background: black;

    * {
        padding: 20px;
        font-size: 3rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}